.ant-card.custom-card {
  padding: 0;
  background: #ffffff;
  border-radius: 0.428rem;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.ant-card.custom-card .ant-card-head {
  padding: 0;
  text-align: center;
  background-color: #e9ecef;
  font-size: 20px;
  line-height: 24px;
  color: #303133;
}
